<div ng-controller="phoneController">
  <h3 align='center'>We'll text you a link</h3>
  <form action="" method="post">
    <div class="row">
      <div class="col-md-4 col-lg-offset-4">
        <div class="input-group phone-input-group">
          <input type="text" id="phone" international-phone-number preferred-countries="nl" class="form-control" ng-model="phone"/>
          <button type="button" class="btn btn-primary" ng-click="send()">Send</button>
        </div>
      </div>
    </div>
  </form>
  <p align="center" style="margin-top:50px;">This feature requires a phone with
    <b>iOS 7</b> or
    <b>Android 4</b> or later
    <br />Patent pending</p>
</div>
