/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

/**
 * Include external stylesheets.
 */

@vendor_dir: '/vendor';

@import '@{vendor_dir}/bootstrap/less/bootstrap.less';
@import '@{vendor_dir}/intl-tel-input/build/css/intlTelInput.css';

.iti-flag { background-image: url("flags.png"); }

canvas {
	float: center;
	border: 1px solid black;
}

.8th-width {
	width: 80%;
}

.justified {
	text-align: center;
}

.font-preview {
	min-width: 300px;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	overflow: hidden;
}

.spacing-top {
  margin-top: 10px;
}

.phone-icon {
  padding: 5px;
  margin-top: -25px;
}

.typeCanvas {
	width: 100%;
}