<div>
  <h3 align='center'>We'll text you a link</h3>
  <form method="post" action="">
    <div class="row">
      <div class="col-md-4 col-lg-offset-4">
        <div class="input-group">
          <img src="assets/phone.png" width="100" height="100" class="phone-icon"/>
          <input type="tel" id="phone" width="200" class="form-control" ng-model="phone"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="accept()">Send</button>
          </span>
        </div>
      </div>
    </div>
  </form>
  <p align="center" style="margin-top:50px;">This feature requires a phone with
    <b>iOS 7</b> or
    <b>Android 4</b> or later
    <br />Patent pending</p>
</div>