<div ng-controller="uploadController">
  <h3 align='center'>Upload a file to use as a signature</h3>
  <form action="" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-4 col-lg-offset-4">
        <div class="input-group">
          <input type="text" value="{{file}}" class="form-control" ng-model="file">
          <span class="input-group-btn">
            <div class="btn btn-primary" ngf-select ng-model="files">Browse</div>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="8th-width justified"><button type="button" class="btn btn-success" ng-click="upload()">Upload</button></div>
    <div style="clear: left;"></div>
  </form>
</div>